// ベース
* {
    margin: 0 0 0 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.app {
    background: #f5f5dc;
    min-height: 100%;
    height: auto;
    position: relative;
}

// ヘッダー
.header {
    margin: 0% 0 40px 0;
    width: 100%;
    height: 60px;
    background: #2e8b57;
    position: fixed;

    .logo {
        margin: 0 0 0 clamp(10px, 5%, 50px);
        padding: 15px 0 0 0;
        width: 300px;
        height: 85px;
        background: #fffafa;
        border-radius: 0 0 30px 30px;
        float: left;
    }

    .navi {
        padding: 20px 30px 0 0;
        color: #ffffff;
        // 右寄せ
        display: flex;
        justify-content: flex-end;

        ul.core {
            display: flex;
            list-style: none;

            li {
                margin-bottom:20px;

                a {
                    display: block;
                    padding: 0 10px;
                    text-decoration: none;
                    color: #ffffff;

                    /*線の基点とするためrelativeを指定*/
                    position: relative;
                }
                a::after {
                    content: '';
                    /*絶対配置で線の位置を決める*/
                    position: absolute;
                    bottom: 0;
                    left: 10%;
                    /*線の形状*/
                    width: 80%;
                    height: 2px;
                    background: #ffffff;
                    /*アニメーションの指定*/
                    transition: all .3s;
                    transform: scale(0, 1);
                    /*X方向0、Y方向1*/
                    transform-origin: center top;
                    /*上部中央基点*/
                }
                /*現在地とhoverの設定*/
                &.current a::after,
                a:hover::after {
                    transform: scale(1, 1);
                    /*X方向にスケール拡大*/
                }
            }
        }
        ul.service {
            display: flex;
            list-style: none;

            li {
                margin-bottom:20px;                
                padding: 0 3px;
            }
        }        
    }
}

// メイン
.main {
    margin: 0 0 0 0;
    padding: 120px clamp(10px, 5%, 100px) 90pt clamp(10px, 5%, 100px);
}
// フッター
.footer {
    margin: 0%;
    padding: 15px 0 10px 0;
    clear: both;
    bottom: 0;
    width: 100%;
    height: 60pt;
    background: #2e8b57;
    position: absolute;
    color: #ffffff;
    text-align: center;
}