@charset "UTF-8";
* {
  margin: 0 0 0 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.app {
  background: #f5f5dc;
  min-height: 100vh;
  height: auto;
  position: relative;
  z-index: 0;
}

.header {
  margin: 0% 0 40px 0;
  width: 100%;
  height: 60px;
  background: #2e8b57;
  position: fixed;
  z-index: 2;
}
.header .logo {
  margin: 0 0 0 200px;
  padding: 15px 0 0 0;
  height: 85px;
  width: 300px;
  background: #fffafa;
  border-radius: 0 0 30px 30px;
  float: left;
  transition: all 0.2s;
}
.header .logo:hover {
  padding: 20px 0 0 0;
}
.header .navi {
  padding: 20px 120px 0 0;
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
}
.header .navi ul.core {
  display: flex;
  list-style: none;
}
.header .navi ul.core li {
  margin-bottom: 20px;
  /*現在地とhoverの設定*/
}
.header .navi ul.core li a {
  display: block;
  padding: 0 10px;
  text-decoration: none;
  color: #ffffff;
  /*線の基点とするためrelativeを指定*/
  position: relative;
}
.header .navi ul.core li a::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 10%;
  /*線の形状*/
  width: 80%;
  height: 2px;
  background: #ffffff;
  /*アニメーションの指定*/
  transition: all 0.3s;
  transform: scale(0, 1);
  /*X方向0、Y方向1*/
  transform-origin: center top;
  /*上部中央基点*/
}
.header .navi ul.core li.current a::after,
.header .navi ul.core li a:hover::after {
  transform: scale(1, 1);
  /*X方向にスケール拡大*/
}
.header .navi ul.service {
  display: flex;
  list-style: none;
}
.header .navi ul.service li {
  margin-bottom: 20px;
  padding: 0 3px;
}

.main {
  margin: 0 0 0 0;
  padding: 80px 0 90pt 0;
}

.main-container {
  padding: 10px 100px 50px 100px;
  text-align: center;
}
.main-container h1 {
  text-align: initial;
  color: #2e8b57;
  font-size: 70px;
  text-decoration: underline;
}
.main-container h1::first-letter {
  font-size: 120px;
}
.main-container h2 {
  color: #ffffff;
  display: inline-block;
  margin: 10px 0;
  padding: 0.5em 6em;
  background: #2e8b57;
  font-size: 24px;
}
.main-container .news-contents {
  background: #cecece;
  margin: 0 0 20px 0;
  padding: 10px;
}
.main-container .news-contents ul.news {
  list-style: none;
  display: flex;
  justify-content: center;
}
.main-container .news-contents ul.news li {
  border: solid;
  border-color: #ffffff;
  background: #ffffff;
  margin: 30px 20px 20px 20px;
  min-width: 400px;
  position: relative;
}
.main-container .news-contents ul.news li span.date {
  position: absolute;
  top: -30px;
  left: -40px;
  border: 1px solid;
  border-color: #ffffff;
  font-weight: bold;
  color: #ffffff;
  background: #2e8b57;
  padding: 5px;
}
.main-container .news-contents ul.news li h3 {
  background: #8e8e8e;
  color: #ffffff;
  margin: 0;
  padding: 15px 0;
}
.main-container .news-contents ul.news li .text {
  text-align: left;
  background: #ffffff;
  padding: 10px 20px;
  min-height: 200px;
}

.footer {
  margin: 0%;
  padding: 15px 0 10px 0;
  clear: both;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60pt;
  background: #2e8b57;
  color: #ffffff;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
